.App {
  font-family: sans-serif;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 30px;
  max-width: 100%;
  margin: 0 auto;
  margin: 50px;
}

Form {
  justify-content: space-between;
  display: flex;
  max-width: fit-content;
  margin: 0 auto;
  gap: 8px;
}

.text{
  padding: 10px 190px;
  border-radius: 6px;
  border: 1px solid grey;
  width: 100%;
}

.text::placeholder {
padding: 9px 100px;
text-align: left;
}

.submit{
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid transparent;
  color:rgba(0, 0, 0, 0.7);
  background-color: #7dc6d8;
  font-weight: 600;
  transition: #7dc6d8 1s ease-in-out;
  width: 100%;
}

.submit:hover{
  background-color: #349bb4;
}

.col-md-6{
  text-align: left;
}

.todaystemp{
  font-size: 40px;
}

.tempcol{
  text-align: center;
}

.todayData {
  grid-template-columns: auto auto;
  width: 100%;
  padding: 50px;
}

.tempIcon {
  display: inline-block;
}

h2 {
  font-size: 40px!important;
  padding-bottom: 10px;;
}

ol, ul{
  padding-left: 0!important;
  color: rgba(0, 0, 0, 0.75)
}

li {
  list-style: none;
  text-align: left;
  line-height: 1.5;
}

footer{
  font-size: 14px;
  margin-bottom: -10px;
  color: rgba(0, 0, 0, 0.7)
}
