.App {
  font-family: sans-serif;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 30px;
  max-width: 100%;
  margin: 0 auto;
  margin: 50px;
}

.App h1{
  margin-bottom: 20px;
}

.form-inline {
  justify-content: center;
  align-content: center;
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  gap: 8px;
}

.text{
  padding: 10px 190px;
  border-radius: 6px;
  border: 1px solid grey;
  width: 100%;
  flex: 1;
  padding: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.text::placeholder {
padding: 9px 100px;
text-align: left;
}

.submit{
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid transparent;
  color:rgba(0, 0, 0, 0.7);
  background-color: #7dc6d8;
  font-weight: 600;
  transition: #7dc6d8 1s ease-in-out;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.submit:hover{
  background-color: #9cd3e1;
}

.todaystemp{
  font-size: 40px;
}

.tempcol{
  text-align: center;
}

.todayData {
  grid-template-columns: auto auto;
  width: 100%;
  padding: 50px;
  gap: 20px;
}


h2 {
  font-size: 40px!important;
  padding-bottom: 10px;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
}

ol, ul{
  padding-left: 0!important;
  color: rgba(0, 0, 0, 0.75)
}

li {
  list-style: none;
  text-align: left;
  line-height: 1.5;
}

.tempConvert {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todaystemp {
  font-size: 45px;
  margin: 0; 
}

.unit {
  font-size: 15px;  
  margin-top: -37.5px;
  margin-left: 2px;
  font-weight: 900;
}

a {
  text-decoration: none!important;
  color: rgb(0, 0, 0, 0.5)!important;
  font-weight: 500;
}

a:hover {
  color: black;
  text-decoration: none;
}

canvas{
  margin-top: 0;
}

footer{
  font-size: 14px;
  margin-bottom: -10px;
  color: rgba(0, 0, 0, 0.7)
}

@media (max-width: 800px){
  .text {
    height: 40px;
  }

  .submit {
    padding: 7px 12px;
    font-size: 15px;
    height: 40px;
  }

  .city, .todaystemp {
    font-size: 32px!important;
  }

  li {
    font-size: 15px;
  }

  .unit {
    font-size: 12px;
    margin-top: -32.5px;
  }

  canvas {
    margin-top: 0;
  }

}